div#user_nav {
  text-align: right;
}

#list_nav {
    background-color: #c8c8c8;
    width: 150px;
    border: 1px #797979 solid;
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

ul#list_nav  {
    padding-left: 3px;
    margin-left: 0;
}

ul#list_nav li {
    list-style-type: none;
    display:inline    
}
ul#list_nav li a {
    color: #797979;
    text-decoration: none;
}

 /*
ul#list_nav li {
display:inline
}


ul#list-nav {
list-style:none;
margin:20px;
padding:0;
width:525px
}

ul#list_nav li a {
text-decoration:none;
padding:5px 0;
width:100px;
background:#485e49;
color:#eee;
float:left;
text-align:center;
border-left:1px solid #fff;
}

ul#list_nav li a:hover {
background:#a2b3a1;
color:#000
}          */